@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-gray-800 min-h-screen flex flex-col;
    /* Dark mode styles */
    @apply dark:bg-gray-800 dark:text-white;
  }
}

@layer components {
  .link {
    @apply text-sky-600 dark:text-sky-300 hover:text-sky-700 dark:hover:text-sky-400 hover:underline;
  }

  .btn {
    @apply h-12 px-4 py-2 bg-sky-600 dark:bg-sky-300 hover:bg-sky-600 dark:hover:bg-sky-400 text-white dark:text-sky-950 font-semibold rounded-md;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  /* Custom utilities can be added here */
}

/* PillContainer styles */
.pill-container {
  --pill-height: 24px; /* Default size */
  --pill-padding-x: calc(var(--pill-height) / 2.5);
  --pill-gap: 1px;
  --notch-radius: calc(var(--pill-height) / 2 + var(--pill-gap) * 2);
  --input-color: oklch(60% 0 300); /* Default gray */
  --color-mix-distance: 18%;
  --base-color: var(--input-color);
  --middle-color: color-mix(in oklch, var(--input-color) calc(100% - var(--color-mix-distance)), white);
  --left-color: color-mix(in oklch, var(--input-color) calc(100% - var(--color-mix-distance) * 2), white);
  display: flex;
  align-items: center;
  font-size: calc(var(--pill-height) * 0.66);
  filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.3));
}

.pill {
  display: inline-flex;
  align-items: center;
  height: var(--pill-height);
  padding: 0 var(--pill-padding-x);
  border-radius: 999em;
  background-color: var(--base-color);
  color: white;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}

.pill:hover {
  opacity: 0.9;
}

.pill:not(:last-child) {
  margin-right: var(--pill-gap);
}

.pill-left {
  background-color: var(--left-color);
}

.pill-left,
.pill-middle {
  padding-right: calc(var(--pill-padding-x) + var(--notch-radius));
  mask: radial-gradient(
    circle var(--notch-radius) at calc(100% - var(--notch-radius) / 2) 50%,
    transparent calc(var(--notch-radius) - 1px),
    black var(--notch-radius)
  );
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pill-middle {
  background-color: var(--middle-color);
  margin-left: calc(-1.5 * var(--notch-radius) + var(--pill-gap));
}

.pill-right {
  background-color: var(--base-color);
  margin-left: calc(-1.5 * var(--notch-radius) + var(--pill-gap));
}
