@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-gray-800 min-h-screen flex flex-col;
    /* Dark mode styles */
    @apply dark:bg-gray-800 dark:text-white;
  }
}

@layer components {
  .link {
    @apply text-sky-600 dark:text-sky-300 hover:text-sky-700 dark:hover:text-sky-400 hover:underline disabled:opacity-50 disabled:cursor-not-allowed;
  }

  /* Generic gray button that can be restyled */
  .btn {
    --btn-bg: theme('colors.gray.200');
    --btn-text: theme('colors.gray.950');
    --btn-text-shadow: rgba(255, 255, 255, 0.6);
    --btn-bg-hover: theme('colors.white');
    --btn-text-hover: theme('colors.black');
    --btn-border: color-mix(in oklch, var(--btn-bg) 80%, black 20%);
    --btn-border-highlight: color-mix(in oklch, var(--btn-bg) 85%, white 50%);

    background-color: var(--btn-bg);
    background-image: linear-gradient(180deg, var(--btn-bg), color-mix(in oklch, var(--btn-bg) 80%, black 15%));
    text-shadow: 1px 1px 1px var(--btn-text-shadow);

    color: var(--btn-text);
    border-top-color: var(--btn-border-highlight);
    border-bottom-color: var(--btn-border);
    border-left-color: var(--btn-border-highlight);
    border-right-color: var(--btn-border);

    /* I used to have py-2 here but that made the layout less flexible on different ui sizes */
    /* TODO: Consider refactoring these buttons to a discrete tsx component rather than a CSS component */
    @apply px-4 font-semibold rounded-md outline-none border shadow-sm;
    @apply focus-visible:ring-2 focus-visible:ring-sky-500/30;
    @apply disabled:opacity-70 disabled:cursor-not-allowed;
    @apply transition-colors duration-150;
  }

  .dark .btn {
    --btn-bg: theme('colors.gray.400');
    --btn-bg-darkened: color-mix(in oklch, var(--btn-bg) 80%, black 20%);
    --btn-text: white;
    --btn-text-shadow: rgba(0, 0, 0, 0.25);
    --btn-bg-hover: theme('colors.gray.400');
    --btn-text-hover: theme('colors.gray.950');
    --btn-border: color-mix(in oklch, var(--btn-bg) 80%, black 40%);
    --btn-border-highlight: color-mix(in oklch, var(--btn-bg) 90%, white 25%);

    background-color: var(--btn-bg);
    color: var(--btn-text);
  }

  .btn:hover:not(:disabled) {
    background-color: var(--btn-bg-hover);
    background-image: linear-gradient(
      180deg,
      color-mix(in oklch, var(--btn-bg) 80%, white 17%),
      color-mix(in oklch, var(--btn-bg) 80%, black 10%)
    );
  }

  .btn:active:not(:disabled) {
    background-image: linear-gradient(
      180deg,
      color-mix(in oklch, var(--btn-bg) 90%, black 5%),
      color-mix(in oklch, var(--btn-bg) 85%, black 20%)
    );

    border-top-color: color-mix(in oklch, var(--btn-bg) 80%, black 10%);
    border-bottom-color: color-mix(in oklch, var(--btn-border) 80%, black 15%);
    border-left-color: color-mix(in oklch, var(--btn-bg) 80%, black 10%);
    border-right-color: color-mix(in oklch, var(--btn-border) 80%, black 15%);
  }

  /* Blue button used for main actions like submit */
  .btn-primary,
  .dark .btn-primary {
    --btn-bg: theme('colors.sky.600');
    --btn-text: theme('colors.white');
    --btn-text-shadow: 'black';
  }

  .btn-danger,
  .dark .btn-danger {
    --btn-bg: theme('colors.red.600');
    --btn-text: theme('colors.white');
    --btn-text-shadow: 'black';
  }

  .btn-green,
  .dark .btn-green {
    --btn-bg: theme('colors.green.600');
    --btn-text: theme('colors.white');
    --btn-text-shadow: 'black';
  }

  .btn-ghost,
  .dark .btn-ghost {
    background-color: transparent;
    background-image: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
  }
}

@layer utilities {
  /* Custom utilities can be added here */
}

/* PillContainer styles */
.pill-container {
  --pill-height: 24px; /* Default size */
  --pill-padding-x: calc(var(--pill-height) / 2.5);
  --pill-gap: 1px;
  --notch-radius: calc(var(--pill-height) / 2 + var(--pill-gap) * 2);
  --input-color: var(--color-sky-800);
  --color-mix-distance: 18%;
  --base-color: var(--input-color);
  --middle-color: color-mix(in oklch, var(--input-color) calc(100% - var(--color-mix-distance)), white);
  --left-color: color-mix(in oklch, var(--input-color) calc(100% - var(--color-mix-distance) * 2), white);
  display: flex;
  align-items: center;
  font-size: calc(var(--pill-height) * 0.66);
  filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.3));
}

.pill {
  display: inline-flex;
  align-items: center;
  height: var(--pill-height);
  padding: 0 var(--pill-padding-x);
  border-radius: 999em;
  background-color: var(--base-color);
  color: white;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}

.pill:hover {
  opacity: 0.9;
}

.pill:not(:last-child) {
  margin-right: var(--pill-gap);
}

.pill-left {
  background-color: var(--left-color);
}

.pill-left,
.pill-middle {
  padding-right: calc(var(--pill-padding-x) + var(--notch-radius));
  mask: radial-gradient(
    circle var(--notch-radius) at calc(100% - var(--notch-radius) / 2) 50%,
    transparent calc(var(--notch-radius) - 1px),
    black var(--notch-radius)
  );
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pill-middle {
  background-color: var(--middle-color);
  margin-left: calc(-1.5 * var(--notch-radius) + var(--pill-gap));
}

.pill-right {
  background-color: var(--base-color);
  margin-left: calc(-1.5 * var(--notch-radius) + var(--pill-gap));
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
